.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  /*width: 100%;*/
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: transform .5s ease;
}

.container{
  margin:0 auto;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.container img{
  max-height: 100%;
  width:100%;
}

.container:hover .image {
  opacity: 0.3;
  transform: scale(1.5);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  display: inline;
  font-size: 16px;
  padding: 16px 32px;
}
