<%- include("../partials/header") %>
<style type="text/css">
	body{
		background-color: #F8F8F8;
		padding-top: 90px;
	}
	.html {
    background-image: url("/images/earth-bk.jpg"), linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 
    color:black;
}

.html2 {
  background-image: url("/images/about.JPG"), linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1)); 
  background-blend-mode: overlay;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin:15px;

  color:black;
}
.html2 a{
  color:#1100cf;
}
</style>

<header class="jumbotron html2" >
	<div class="container" style="padding-left: 40px;">
		<h1>ABOUT US</h1>	
		<a href="/" style="color: #006eb3">Entrepreneurship Cell, ABV-IIITM, Gwalior</a>
	</div>
	
</header>

<div class="html">
<div class="container" style="background-color: rgba(245, 245, 245,0.5) ;padding:10px; padding-bottom: 15px;">
	<p>Entrepreneurship Cell has been established with the intent to develop ecosystem
across ABV-IIITM with primary objectives such as:<br>
<ul>
a) To develop Entrepreneurial drive among students (by raising awareness,
motivation and understanding).<br>
b) To train students in the skills they need to set up a business and manage its
growth.<br>
c) To develop the Entrepreneurial approach to identify and exploit
opportunities.<br>

</ul>
ABV-IIITM students are geared up to encourage self-employment in all domains
for student start-ups.<br>
We have started the process of promoting and strengthening
entrepreneurship amongst Students and Technology targeted groups across our
campus by organizing Entrepreneurship Awareness Camps to foster the
temperament of Entrepreneurial convergence and also to develop skill-sets
required for same.
</p>

</div>
</div>
<div class="jumbotron1" style="padding: 25px;">
	<div class="container" style="padding-left: 40px; ">
	<h2>Our Logo</h2>
</div>
</div>
<div class="html">
<div class="container" style="background-color: rgba(245, 245, 245,0.5) ;padding:10px;padding-bottom: 15px;">
	<div class="row">
	<div class="col-md-4">
		<img src="/images/logo.png" id="nav-logo" style="width: 60%; margin: 0 auto 0 auto">
	</div>
	<div class="col-md-8" style="margin: auto">
		<p>Our logo is a symbol of prestige, learning and process we believe in, precisely
		which is Spiral Learning. The idea is that each time a student encounters a topic,
		the student expands their knowledge to the utmost level at the same time
		improving their skill set and finally contributing to the Society by practically
		implementing their learning into the real world.</p>
	</div>
	
</div>
</div>
</div>

<div class="jumbotron1" style="padding: 25px;">
	<div class="container" style="padding-left: 40px; ">
	<h2>OUR VISION</h2>
</div>
</div>
<div class="html">
<div class="container" style="background-color: rgba(245, 245, 245,0.5) ;padding:10px;padding-bottom: 15px;">
	<p>Our vision is to inspire and implement socially, financially and environmentally
	responsive, life sustainable solutions by encouraging entrepreneurship and
	helping young individuals accomplish their Dreams along with fostering the
	feeling that "Creating a job is bigger than getting a job", by developing awareness
	and culture for Entrepreneurship.</p>

</div>
</div>

<div class="jumbotron1" style="padding: 25px;">
	<div class="container" style="padding-left: 40px; ">
	<h2>MISSION</h2>
</div>
</div>
<div class="html">

<div class="container" style="background-color: rgba(245, 245, 245,0.5) ;padding:10px;padding-bottom: 15px;">
	<p>We aim at establishing a network with almost all the eminent and prestigious
	universities across the Globe and nurturing it with healthy, trustworthy and
	steady alliances. We also aim at collaborating with various Venture capitalists,
	Start-ups and companies working in Research and Development(RnD). We also
	aim at propagating the awareness and incubating passion for Entrepreneurship
	amongst the world citizens. </p>
</div>
</div>
<hr>
<div class="row" >
	<div class="col-6" style="margin: 20px auto 0px auto">
		<a class="btn btn-primary btn-lg" href="/contact-us" style="width: 100%">Contact Us..</a>
	</div>
</div>
        


<hr>

<%- include("../partials/footer") %>